{% extends "base.html" %}

{% block content %}

<div class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <span class="title">Fortune</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                <p class="title">One</p>
                <p class="subtitle">Top tile</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                <p class="title">Two</p>
                <p class="subtitle">With an image</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                <p class="title">Three</p>
                <p class="subtitle">With an image</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                <p class="title">Four</p>
                <p class="subtitle">Top tile</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                <p class="title">Five</p>
                <p class="subtitle">With an image</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                <p class="title">Six</p>
                <p class="subtitle">With an image</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                <p class="title">Seven</p>
                <p class="subtitle">Top tile</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                <p class="title">Eight</p>
                <p class="subtitle">With an image</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                <p class="title">Nine</p>
                <p class="subtitle">With an image</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                <p class="title">Ten</p>
                <p class="subtitle">Top tile</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                <p class="title">Eleven</p>
                <p class="subtitle">With an image</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                <p class="title">Twelve</p>
                <p class="subtitle">With an image</p>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock%}