{% extends "base.html" %}

{% block content %}

<div class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <span class="title">Entries</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="entries">
        {% for entry in entries %}
        <div class="column is-full">
            <div class="card">
                <div class="card-header">
                    <span class="card-header-title">{{ entry.title | safe }}</span>
                </div>
                <div class="card-content">
                    <div class="content">
                        <p>
                            {{ entry.body | safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="section">
        <div class="entry-form">
            <form action="{{ url_for('main.index') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="field">
                    {{ form.title.label(class="label") }}
                    <div class="control">
                        {{ form.title(class="input", placeholder="タイトル") }}
                    </div>
                </div>
                <div class="field">
                    {{ form.body.label(class="label") }}
                    <div class="control">
                        {{ form.body(class="textarea", placeholder="本文を入力してください") }}
                    </div>
                </div>
                <div class="control">
                    <button type="submit" class="button is-primary">送信</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}